*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
    text-decoration:none;
}

body{
    background:#f4f4f4;
}

.container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.card{

    width:500px;
    background:white;
    border-radius:25px;
    padding:50px 40px;

    text-align:center;

    box-shadow:0 15px 40px rgba(0,0,0,.15);

}

.card h1{

    font-size:48px;
    color:#d89b00;
    margin-bottom:15px;

}

.card span{

    color:black;

}

.card p{

    color:#666;
    line-height:28px;
    margin-bottom:40px;
    font-size:18px;

}

.buttons{

    display:flex;
    flex-direction:column;
    gap:20px;

}

.buttons a{

    padding:18px;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;

    transition:.3s;

}

.user-btn{

    background:#F4B400;
    color:white;

}

.user-btn:hover{

    background:#d89b00;
    transform:translateY(-3px);

}

.driver-btn{

    background:#15803d;
    color:white;

}

.driver-btn:hover{

    background:#1b9a4a;
    transform:translateY(-3px);

}

.buttons i{

    margin-right:10px;

}

@media(max-width:600px){

.card{

width:100%;
padding:35px 25px;

}

.card h1{

font-size:38px;

}

.buttons a{

font-size:17px;

}

}